# Set default behavior to automatically normalize line endings
* text=auto

# Treat files by type
*.html text
*.css text
*.js text
*.json text
*.svg text
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.woff binary
*.woff2 binary
*.ttf binary
